#bel-marin-keys-portfolio-slider {
    .carousel {
        @include carousel-globals;


        #bel-marin-keys-img-1 {
            background: url('../../images/bel-marin-keys/bel-marin-1.jpg');
            background-size: cover;
            background-position-y: bottom;
            background-position-x: left;
        }

        #bel-marin-keys-img-2 {
            background: url('../../images/bel-marin-keys/bel-marin-2.jpg');
            background-size: cover;
            background-position-y: bottom;
            background-position-x: 90%;
        }

        #bel-marin-keys-img-3 {
            background: url('../../images/bel-marin-keys/bel-marin-3.jpg');
            background-size: cover;
            background-position-y: bottom;
            background-position-x: 40%;
        }
    }
}