#bel-marin-keys-portfolio-slider {
    .carousel {
        @include carousel-globals;


        #bel-marin-keys-img-1 {
            background: url('/images/bel-marin-keys/bel-marin-1.jpg');
            background-size: cover;
            background-position-y: bottom;
            background-position-x: left;
        }

        #bel-marin-keys-img-2 {
            background: url('/images/bel-marin-keys/bel-marin-2.jpg');
            background-size: cover;
            background-position-y: bottom;
            background-position-x: 90%;
        }

        #bel-marin-keys-img-3 {
            background: url('/images/bel-marin-keys/bel-marin-3.jpg');
            background-size: cover;
            background-position-y: bottom;
            background-position-x: 40%;
        }
        #bel-marin-keys-img-4 {
            background: url('/images/bel-marin-keys/bel-marin-4.jpg');
            background-size: cover;
            background-position-y: bottom;
            background-position-x: 40%;
        }
        #bel-marin-keys-img-5 {
            background: url('/images/bel-marin-keys/bel-marin-5.jpg');
            background-size: cover;
            background-position-y: bottom;
            background-position-x: 40%;
        }
        #bel-marin-keys-img-6 {
            background: url('/images/bel-marin-keys/bel-marin-6.jpg');
            background-size: cover;
            background-position-y: bottom;
            background-position-x: 40%;
        }
        #bel-marin-keys-img-7 {
            background: url('/images/bel-marin-keys/bel-marin-7.jpg');
            background-size: cover;
            background-position-y: bottom;
            background-position-x: 40%;
        }
        #bel-marin-keys-img-8 {
            background: url('/images/bel-marin-keys/bel-marin-8.jpg');
            background-size: cover;
            background-position-y: bottom;
            background-position-x: 40%;
        }
        #bel-marin-keys-img-9 {
            background: url('/images/bel-marin-keys/bel-marin-9.jpg');
            background-size: cover;
            background-position-y: bottom;
            background-position-x: 40%;
        }
    }
}