div#services {
  background: $white;
  height: 100%;
  padding: 8rem 2rem;
  > h1 {
    padding-bottom: 0.5rem;
    border-bottom: 3px $primary solid;
  }
  h2 {
      display: flex;
      justify-content: center;
    img {
      height: 2.5rem;
      width: auto;
      align-self: top;
    }
  }
}
