#bel-marin-keys-portfolio-slider.carousel {
    background: transparent;
}

#bel-marin-keys-img-1 {
    background: url('https://res.cloudinary.com/drlcksx7j/image/upload/s--T9QxCqc4--/q_jpegmini/v1552094133/DSC_5727-X2_k6ui68.jpg');
    background-size: cover;
    background-position-y: 100%;
    background-position-x: 90%;
}