.index-carousel.carousel {
  padding-top: 15rem;
  height: 100vh;

  .img-1,
  .img-2,
  .img-3 {
    height: 100vh;
    img {
      height    : 100%;
      width     : auto;
      overflow-x: hidden;
    }
  }
}