#about {
  
    margin: 0 auto;
    padding: 1rem;
    background: $white;
    padding-top: 7rem; 
    .img-fluid {
        width: auto;
        height: 60vh;
        box-shadow: 0 3px 10px black;
        border-radius: 10px;
    }
    p {
        border-top: 3px solid $secondary;
        margin-top: 1rem;
        padding-top: 1rem;
    }
}