<nav id="menu" class="navbar fixed-top navbar-expand-lg bg-white navbar-light px-md-5">
    <a class="navbar-brand" href="index.html"><img
            class="img-fluid"
            src="images/glinorcal-lightbg.png"
            alt="glinorcal-lightbg.png"></a>
    <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#mainNavbar"
        aria-controls="mainNavbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">

        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="portfolio.html">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-nowrap"
                    href="about.html">About</a>
            </li>
            <li class="nav-item"><a class="nav-link"
                    href="news.html">News</a></li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>