@mixin link-design {
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: all .5s;

  &:hover {
    text-decoration: none;
    border-bottom: 3px solid $primary;
    transition: all 0.5s;
  }
}

@mixin link-design-active {
  text-decoration: none;
  border-bottom: 3px solid $primary;
  transition: all .5s;
}

@mixin carousel-globals {
  height: 100vh;
  background-color: transparent;

  .carousel-inner {
    height: inherit;

    .carousel-item {
      height: inherit;
    }
  }
}