// Fonts
$open-sans: 'Open Sans', sans-serif;
$alpha-slab: 'Alfa Slab One', cursive;
$roboto-slab: 'Roboto Slab', serif;

$sans-serif-font: $open-sans;
$serif-font: $roboto-slab;
$display-font: $alpha-slab;