    div#main-image-1 {
      background: url(/assets/img/glinorcal-stone-firepit.jpg) no-repeat;
      background-size: cover;
      height: 100vh;
    }
    div#main-image-2 {
      background: url(/assets/img/glinorcal-stone-path-masonry-glass-privacy-walls.jpg)
        no-repeat;
      background-size: cover;
      height: 100vh;
    }
    div#main-image-3 {
      background: url(/assets/img/glinorcal-stone-walls-patio-carpentry.jpg)
        no-repeat;
      background-size: cover;
      height: 100vh;
    }
  

